/*!
 *  Copyright © 2021, allright reserved
 *  Developed By : Resham Khadka
 *	Project : Photo Katha
 */

// Component 
@import "theme.scss";

a, a:hover, img, img:hover, .btn, .btn:hover, *, *:hover {@include transition(0.6s);}

.form-control {
	&:focus {box-shadow:none !important; outline: none;}
}

.btn {
	&:focus {box-shadow: none; outline: none;}
}

sup, sub {
	font-size: 10px;
}

html, body {
    max-width: 100%;
    overflow-x: 0
}
h1, h2, h3, h4, h5, h6 {font-weight: normal}
ul,
ol {
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none
}

body, html {height:100%;}
body {background:#2d3436;}

nav {font-size:$fnt-sz + 2; font-weight: 600; border-bottom:2px solid $theme-color; border-top:1px solid darken($white, 20%); background:$white;
	ul {padding-left:0;
		li {position: relative;
			.rd-info {position: absolute; background:$red; color:$white; font-size:$fnt-sz - 2; top:-12px; right:0; border:1px solid $white; border-radius:5px; padding:1px 10px;}
		}
	}
}
.offcanvas-start {width: 350px;}
.offcanvas-header {
	.logo {border-bottom: 1px solid darken($white, 15%); padding:$pad;
		img {}
	}
}
.offcanvas-body {
	ul {
		li {
			a {display: block; padding:$pad; font-size: $fnt-sz + 4;}
			ul {margin-left: $margin; background: darken($white, 10%); border-radius: 10px;
				li {}
			}
		}
	}
}
.offcanvas-footer {padding:$pad;
	ul.social {text-align: left;
		li {display: inline-block; margin: 0 $margin - 10; text-align: center;
			a {display: block; width: 30px; height: 30px; line-height: 30px; border: 1px solid darken($white, 10%); border-radius: 100%;}
		}
	}
}

.banner {position: relative; height: 90%; overflow: hidden; background:$black;
    .shadow {content: ''; position: absolute; bottom: 0; left: 0; height: 30%; z-index: 2; width: 100%;  background-image: linear-gradient(to bottom,transparent,rgba(46,52,54,.1),  rgba(46,52,54,1));}
    header {position: absolute; top:0; width:100%; z-index: 9; height: 42px;
        img {-webkit-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px;}
    }
    .owl-carousel{height:100%; position: relative;
        &:before {content: ''; position: absolute; bottom: 0; left: 0; height: 30%; z-index: 2; width: 100%;  background-image: linear-gradient(to bottom,transparent,rgba(46,52,54,.1),  rgba(46,52,54,1));}
        .teaser {position: absolute; bottom:25%; width:100%; z-index: 99;
            h2 {padding:$pad - 5 $pad * 2; font-size:$fnt-sz * 3; font-weight: bold; line-height: $fnt-sz * 3 + 6;
                a {color:$white;}
            }
        }
        .item{height: 100%;
            img {margin:0 auto; opacity: 0.8; height: 100vh; object-fit: cover;
                &:hover {opacity:1;}
            }
        } 
    } 
    .owl-dots {bottom:0; position: absolute; width:100%; bottom:10px;}
}
.ibanner {height: 100vh; position: relative;
    &:before {content: ''; position: absolute; bottom: 0; left: 0; height: 50%; z-index: 99; width: 100%;  background-image: linear-gradient(to bottom,transparent,rgba(255,255,255,.1),  rgba(255,255,255,1));}
    img {width:100%; object-fit: cover;}
    .fill {height:100vh;}
}
header {background:transparentize($black, 0.3); 
    ul {font-size:$fnt-sz + 6;
        li {display: inline-block;
            a {color:$white; padding: $pad - 5 $pad; display: block;
                &:hover {background:$black;}
            }
        }
    }
    .social {
        li {
            a {padding:0; width:40px; height:40px; line-height: 40px; text-align: center;
                &:hover {color:$white !important;}
            }
            &:first-child {
                a {background:$fb-color;}
            }
            &:nth-child(2) {
                a {background:$tw-color;}
            }
            &:nth-child(3) {
                a {background:$it-color;}
            }
            &:last-child {
                a {background:$yt-color;}
            }
        }
    }
}

.hot {padding:$pad * 3 0;
    .image {background:$white; border-radius:20px; overflow: hidden;  border:2px solid transparentize($white, 0.5);
        .teaser {padding:$pad; position: relative;
            span {position: absolute; top:-40px; background:transparentize($black, 0.4);
                a {color:$white; padding:$pad - 10 $pad; display: block;}
            }
            h2 {font-size:$fnt-sz * 2; font-weight: bold;
                &:first-letter {color:$theme-color;}
            }
            p {
                a {color:$theme-color;}
            }
        }
    }
}

.mar-20 {height: 20px;}
.mar-40 {height: 40px;}

.home {
    .rd-ads {
        img {border:1px solid $white;}
    }
    .rd-title {font-size:$fnt-sz * 3; font-weight: bold; color:$white; text-align: center;
        p {display: block; margin:$margin 0 $margin * 2; padding: $pad; border-bottom:2px solid $theme-color;
            span {color:$theme-color;}
        }
    }
    .layout-1 {text-align: center;
        .col-md-6 {
            &:first-child, &:nth-child(2) {margin-bottom:$margin * 2;}
        }
        .image {overflow: hidden; position: relative; @include transition(0.7s); background:$black; height: 445px; border:2px solid transparentize($white, 0.2);
            img {margin-bottom: -3px; transform: scale(1.03);}
            &:after {content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%;  background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.40));}
            .teaser {padding: $pad + 5; position: absolute; color:$white; width: 100%; bottom:0; z-index: 9;
                h2 {font-size: $fnt-sz * 2 + 6; font-weight: bold; margin-bottom: $margin - 10;}
                p {display: none; @include transition(0.7s);}
            }
            &:hover {@include transition(0.7s);
                img {transform: scale(1.1);}
                .teaser {
                    p {display: block; @include transition(0.7s);}
                }
            }
        }
    }
    .layout-2 {text-align: center;
        .image {overflow: hidden; position: relative; @include transition(0.7s); background:$black; height: 445px; border:2px solid transparentize($white, 0.2);
            img {margin-bottom: -3px; transform: scale(1.03); object-fit: cover; height:100%;}
            &:after {content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%;  background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.40));}
            .teaser {padding: $pad + 5; position: absolute; color:$white; width: 100%; bottom:0; z-index: 9;
                h2 {font-size: $fnt-sz + 10; font-weight: bold; margin-bottom: $margin - 10;}
            }
            &:hover {@include transition(0.7s);
                img {transform: scale(1.2);}
            }
        }
    }
}

.main-contain {padding-bottom:$pad * 3; background:$white;
    .rd-breadcrumb {font-size:$fnt-sz - 1; font-weight: 200; margin-bottom: $margin; display: none;} 
	.rd-heading {
		h1{font-size:4vw; font-weight: bold; margin-bottom: $margin;}
		h2 {font-size:2vmax; font-weight: 400; color:darken($white, 40%); margin-bottom:$margin;}
	}	
	.post-info {margin-bottom:$margin * 2;
		img {border:1px solid darken($white, 15%); border-radius:50%;}
		.rduser {padding:$pad - 10 $pad;
			span {display:block; font-size:$fnt-sz + 3;}
			.author-info {font-size:$fnt-sz - 1; font-weight: 200; color:darken($white, 60%);}
		}
		.rddate {padding-left:$pad; font-size:$fnt-sz; color:darken($white, 60%);}
    }	
    hr {}
    .at4-jumboshare .at4-count-container {min-width: 85px !important;}
	.news-detail {
		h1 {font-size:$fnt-sz * 4; font-weight:bold;}
		h2 {font-size:$fnt-sz * 3; font-weight:600; margin: $margin 0;}
		h3 {font-size:$fnt-sz * 2; font-weight:600; margin: $margin 0;}
		h4 {font-size:$fnt-sz * 2 - 4; font-weight:600; margin: $margin 0;}
		h1, h2, h3, h4, h5, ul li, ol li {
			a {color:$theme-color;}
		}
		p, ul, ol{line-height:150% !important; font-size:$fnt-sz + 8; font-weight: 400; margin-bottom: 2.2rem; text-align: justify;
			a {color:$theme-color;}
		}
		ul, ol {margin-left:$margin + 5;
			li {list-style: disc; margin-bottom: $margin;}
		}
		ol {
			li {list-style: decimal;}
		}
		.size-full {width:100%; height:auto;}
		.alignleft {width:auto; float:left; margin-right: $margin;}
		.alignright {width:auto; float:right; margin-left: $margin;}
		figcaption {font-size:$fnt-sz - 2; font-style: italic; font-weight: 200; text-align: center;}
		figure {margin-bottom:$margin + 5;}
		iframe, figure {width:100% !important;}
		iframe {height:100% !important;}
		.rd-video {width:100%; min-height: 450px; overflow: hidden;
			iframe {width:100%; height:100%; min-height: 450px !important;}
			.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
				width:100% !important;
				min-height: 450px !important;
			}
		}		
		.post-meta img {width:60px !important;}
		blockquote {width:40%; float: left; margin-right: $margin;
			background: #484B52 url("../img/green-black-side.gif");
			background-repeat:repeat-y;
			margin:$margin;
			margin-left:0;
			margin-right: $margin * 2;
			padding: 30px 30px 30px 50px;
			color: #C7CACF;
			.post blockquote p {
				margin: 0;
				padding-top: 10px;
			}
		}
		
		.img-area {background:darken($white, 5%); overflow: hidden; text-align: center; position: relative;
			img {position: relative; z-index: 1;}
			.fill {width:100%; height:100%; position: absolute; background-repeat: no-repeat; top:0; background-position: center; background-size:cover; z-index: 0; filter: blur(18px); -webkit-filter: blur(18px);}
		}
		.rd-font-control {text-align:right; position:fixed; left:0; top:40%; background:darken($white, 5%); padding:$pad - 5;
			button{display:block; width:100%; margin:$margin - 10 0; font-size:$fnt-sz - 2;}
		}
		.post-entry {padding:$pad * 2;}
		.rd-fb-comments {padding:$pad + 5; background:darken($white, 1%);}
    }
    .rd-popular {margin-bottom:$margin;
        .rd-title {font-size:$fnt-sz * 2; font-weight: bold; color:$rd-color; text-align: center;
            p {display: block; margin:$margin 0 $margin; padding: $pad; border-bottom:2px solid $theme-color;
                span {color:$theme-color;}
            }
        }
        .rd-wrap {padding:$pad; font-size:$fnt-sz + 4; font-weight: bold; box-shadow: 0 4px 10px transparentize($black, 0.8); background:$white;
            span {font-size:$fnt-sz * 3; display: block; opacity: 0.5;}
            .row:last-child {border:none !important; padding-bottom: 0 !important; margin-bottom:0 !important;}
        }
    }
}

.rd-category-page {padding:$pad * 3 0;
	h1 {font-size:$fnt-sz * 2;}
	.cat-post {border-radius:10px; margin-bottom:$margin + 10; overflow: hidden; border:1px solid darken($white, 20%);
		img {width:100%;}
		.cat-info {padding:$pad; background:$white; margin-top:-5px;
			h3 {font-size:$fnt-sz + 6;}
		}
	}
}

.rd-ads {margin-bottom:$margin;
    img {width:100%;}
}

footer {padding-top:$pad * 2; background:lighten($black, 2%); color:darken($white, 10%);
    h4 {font-size:$fnt-sz * 2; font-weight: 300; margin-bottom: $margin;}
    .f-img {margin-top:-30px; background:#e7e8e8; padding: $pad 0;}
    address {font-size:$fnt-sz + 4; line-height: 30px;}
    .social {margin: $margin 0;
        li {display: inline-block; 
            a {width:40px; height:40px; line-height: 40px; display: block; text-align: center; background:lighten($black, 10%);}
        }
    }
    .category {
        li {line-height: 30px;}
    }
    .link {
        li {display:block;
            a {display: block; padding:$pad - 10 0;}
        }
    }
    .f-btm {background:$black; padding: $pad 0; font-weight: 300; margin-top:$margin * 2;}
}

// Responsive
@import "responsive.scss";
